# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

*.jsbundle
*.tsbuildinfo
.DS_Store
.history
.jest
.vscode
**/*/.eslintcache
.yarnrc
debug.log
build
tsconfig.tsbuildinfo
dist
lib
picker-env.d.ts
.env
storybook-docs