@import "./mixins/mixin";
.day {
  @include flex-center;
  @include day-box(true);
  @include clickable;
}

.disabled {
  opacity: 0.4;
}

.weekend-day {
  color: var(--text-negative);
}

.highlight {
  background-color: var(--highlight);
  color: var(--text-light);
}
