@import "./mixins/mixin";
.day {
    @include flex-center;
    @include day-box(true);
    @include clickable;
    position: relative;
}

.hovered:not(.disabled) {
    &:hover {
        background-color: var(--background-hovered);
    }
}

.not-current {
    opacity: 0.4;
}

.weekend-day {
    color: var(--text-negative);
}

.off-day {
    color: var(--text-negative);
}

.highlight-day {
    background-color: orange;
    color: var(--text-light);
}

.highlight {
    background-color: var(--highlight);
    color: var(--text-light);
}

.today {
    border: 1px dotted var(--highlight);
    border-radius: 2px;
}