@import "./mixins/mixin";
@font-face {
    font-family: iranyekanblack;
    src: url("../assets/fonts/iranyekanwebblackfanum.woff") format("woff");
}

@font-face {
    font-family: iranyekanbold;
    src: url("../assets/fonts/iranyekanwebboldfanum.woff") format("woff");
}

@font-face {
    font-family: iranyekanextrablack;
    src: url("../assets/fonts/iranyekanwebextrablackfanum.woff") format("woff");
}

@font-face {
    font-family: iranyekanextrabold;
    src: url("../assets/fonts/iranyekanwebextraboldfanum.woff") format("woff");
}

@font-face {
    font-family: iranyekanlight;
    src: url("../assets/fonts/iranyekanweblightfanum.woff") format("woff");
}

@font-face {
    font-family: iranyekanmedium;
    src: url("../assets/fonts/iranyekanwebmediumfanum.woff") format("woff");
}

@font-face {
    font-family: iranyekanregular;
    src: url("../assets/fonts/iranyekanwebregularfanum.woff") format("woff");
}

@font-face {
    font-family: iranyekanthin;
    src: url("../assets/fonts/iranyekanwebthinfanum.woff") format("woff");
}

@font-face {
    font-family: IRANSansRegular;
    src: url("../assets/fonts/IRANSansFaNum.ttf") format("woff");
}

@font-face {
    font-family: IRANSansBold;
    src: url("../assets/fonts/IRANSansFaNum_Bold.ttf") format("woff");
}

@font-face {
    font-family: IRANSansLight;
    src: url("../assets/fonts/IRANSansFaNum_Light.ttf") format("woff");
}

@font-face {
    font-family: IRANSansMedium;
    src: url("../assets/fonts/IRANSansFaNum_Medium.ttf") format("woff");
}

@font-face {
    font-family: RobotoLight;
    src: url("../assets/fonts/Roboto-Light.ttf") format("woff");
}

@font-face {
    font-family: RobotoRegular;
    src: url("../assets/fonts/Roboto-Regular.ttf") format("woff");
}

@font-face {
    font-family: RobotoMedium;
    src: url("../assets/fonts/Roboto-Medium.ttf") format("woff");
}

@font-face {
    font-family: RobotoBold;
    src: url("../assets/fonts/Roboto-Bold.ttf") format("woff");
}

.clickable {
    @include clickable;
}