@font-face {
    font-family: iranyekanblack;
    src: url("../assets/fonts/iranyekanwebblackfanum.woff") format("woff");
}

@font-face {
    font-family: iranyekanbold;
    src: url("../assets/fonts/iranyekanwebboldfanum.woff") format("woff");
}

@font-face {
    font-family: iranyekanextrablack;
    src: url("../assets/fonts/iranyekanwebextrablackfanum.woff") format("woff");
}

@font-face {
    font-family: iranyekanextrabold;
    src: url("../assets/fonts/iranyekanwebextraboldfanum.woff") format("woff");
}

@font-face {
    font-family: iranyekanlight;
    src: url("../assets/fonts/iranyekanweblightfanum.woff") format("woff");
}

@font-face {
    font-family: iranyekanmedium;
    src: url("../assets/fonts/iranyekanwebmediumfanum.woff") format("woff");
}

@font-face {
    font-family: iranyekanregular;
    src: url("../assets/fonts/iranyekanwebregularfanum.woff") format("woff");
}

@font-face {
    font-family: iranyekanthin;
    src: url("../assets/fonts/iranyekanwebthinfanum.woff") format("woff");
}