@import "./mixins/mixin";
@font-face {
    font-family: IRANSansRegular;
    src: url("../assets/fonts/IRANSansFaNum.ttf") format("woff");
}

@font-face {
    font-family: IRANSansBold;
    src: url("../assets/fonts/IRANSansFaNum_Bold.ttf") format("woff");
}

@font-face {
    font-family: IRANSansLight;
    src: url("../assets/fonts/IRANSansFaNum_Light.ttf") format("woff");
}

@font-face {
    font-family: IRANSansMedium;
    src: url("../assets/fonts/IRANSansFaNum_Medium.ttf") format("woff");
}

@font-face {
    font-family: RobotoLight;
    src: url("../assets/fonts/Roboto-Light.ttf") format("woff");
}

@font-face {
    font-family: RobotoRegular;
    src: url("../assets/fonts/Roboto-Regular.ttf") format("woff");
}

@font-face {
    font-family: RobotoMedium;
    src: url("../assets/fonts/Roboto-Medium.ttf") format("woff");
}

@font-face {
    font-family: RobotoBold;
    src: url("../assets/fonts/Roboto-Bold.ttf") format("woff");
}

.clickable {
    @include clickable;
}

body,
html {
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    height: 100%;
}