@import "./mixins/mixin";
.picker-input-wrapper {
  margin: 0;
  padding: 0;
  height: 34px;
  width: 400px;
  max-width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.23);
  overflow: hidden;
  border-radius: 2px;
  padding-inline: 6px;
  @include flex-row;
  &:hover {
    border-color: var(--highlight);
  }
}

.slider {
  &::before {
    content: "";
    position: absolute;
    transition: all 300ms ease;
    width: 100%;
    border-bottom: 2 solid blue;
    bottom: -2px;
  }
}

.range_input_wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid gray;
  position: relative;
  border-radius: 4px;
  padding: 4px;
  &:focus {
    box-shadow: none;
  }
  &::before {
    content: "";
    position: absolute;
    width: 0px;
    border-bottom: none;
    bottom: -2px;
    left: 50%;
  }
}

.input {
  all: unset;
  height: 34;
  border: unset !important;
  display: flex;
  flex: 1;
  width: 100%;
  padding-inline: 8px;
  &:focus {
    box-shadow: none;
    border: unset !important;
  }
  &:focus-visible {
    box-shadow: none;
    border: unset !important;
  }
}

.range_input_from {
  display: flex;
  flex: 1;
  width: 100%;
  height: 18px;
  border: none !important;
  &:hover {
    border: none !important;
  }
  &:focus-visible {
    border: none !important;
    box-shadow: none !important;
  }
  &:focus {
    border: none !important;
    box-shadow: none !important;
  }
}
.range_input_to {
  display: flex;
  flex: 1;
  width: 100%;
  height: 18px;
  border: none !important;
  &:hover {
    border: none !important;
  }
  &:focus-visible {
    border: none !important;
    box-shadow: none;
  }
  &:focus {
    border: none !important;
    box-shadow: none;
  }
}

.picker-input {
  border: none;
  outline: none;
  width: 100%;
  height: 100%;
  font-size: 14px;
  @include font-family;
  color: var(--text-dark);
}

.calendar-icon {
  width: 20px;
  height: 20px;
  @include flex-center;
  cursor: pointer;
  filter: invert(0.4);
  &:hover {
    filter: invert(0.3);
  }
}
.range-icon {
  width: 20px;
  height: 20px;
  @include flex-center;
  cursor: pointer;
  filter: invert(0.4);
  &:hover {
    filter: invert(0.3);
  }
}

.clear-icon {
  width: 16px;
  height: 16px;
  @include flex-center;
  cursor: pointer;
  filter: invert(0.7);
  &:hover {
    filter: invert(0.4);
  }
}

.rtl {
  direction: rtl;
}
