@import "./mixins/mixin";
.panel {
    @include flex-center;
    @include font-family;
    width: 300px;
    height: 352px;
    max-height: 352px;
    background-color: #f9f9f9;
    border-radius: 2px;
    overflow: hidden;
    flex-direction: column;
    p {
        margin-block: 0;
        font-size: 14px;
    }
}

.panel-rtl {
    @extend .panel;
    direction: rtl;
}

.panel-ltr {
    @extend .panel;
    direction: ltr;
}

.panel-header {
    @include widget;
    @include flex-row;
    overflow: hidden;
}

.panel-header-rtl {
    @extend .panel-header;
    direction: rtl;
}

.panel-header-ltr {
    @extend .panel-header;
    direction: ltr;
}

.panel-header-inner {
    @include flex-row(space-between);
    flex: 1;
    margin-inline: 12px;
    max-height: 100%;
}

.panel-date-holder {
    @include flex-row;
}

.panel-date-holder-item {
    @include flex-row;
    margin-inline: 2px;
    padding-inline: 2px;
}

.panel-body {
    display: grid;
    height: 100%;
    margin-block: 8px;
    max-width: 300px;
    place-items: center;
    grid-template-columns: repeat(7, minmax(30px, 38px));
    grid-template-rows: auto;
    row-gap: 8px;
    column-gap: 4px;
}

.panel-footer {
    @include widget;
    @include flex-row;
}

.panel-footer-rtl {
    @extend .panel-footer;
    direction: rtl;
}

.panel-footer-ltr {
    @extend .panel-footer;
    direction: ltr;
}

.day-label-bar {
    width: 100%;
    min-height: 28px;
    margin-top: 8px;
    @include flex-row;
}

.day-label-bar-inner {
    margin-inline: 8px;
    width: 100%;
    min-height: 28px;
    @include flex-row(space-between);
    background-color: #666;
    border-radius: 2px;
}

.day-label-item {
    width: 30px;
    min-height: 28px;
    @include flex-center;
    text-align: center;
    color: #fff;
    font-size: 14px;
}

.day-item-outer {
    position: relative;
    min-width: 38px;
    overflow: hidden;
    @include flex-center;
}

.day-item-after::after {
    content: "";
    position: absolute;
    height: 30px;
    width: 8px;
    top: 0;
    right: 0;
    background-color: var(--highlight);
}

.day-item-before::before {
    content: "";
    position: absolute;
    height: 30px;
    width: 8px;
    top: 0;
    left: 0;
    background-color: var(--highlight);
}

.day-item-both::before {
    content: "";
    position: absolute;
    height: 30px;
    width: 8px;
    top: 0;
    left: 0;
    background-color: var(--highlight);
}

.day-item-both::after {
    content: "";
    position: absolute;
    height: 30px;
    width: 8px;
    top: 0;
    right: 0;
    background-color: var(--highlight);
}