.years-body {
  display: grid;
  height: 100%;
  max-width: 300px;
  place-items: center;
  grid-template-columns: repeat(3, minmax(100px, 100px));
  grid-template-rows: auto;
}

.years-body-rtl {
  @extend .years-body;
  direction: rtl;
}

.years-body-ltr {
  @extend .years-body;
  direction: ltr;
}

.year-item {
  padding-block: 4px;
  border-radius: 2px;
  min-width: 54px;
  cursor: pointer;
  @include flex-center;
  color: var(--text-dark);
}

.year-item-hovered {
  &:hover {
    background-color: var(--background-hovered);
  }
}

.year-item-selected {
  background-color: var(--highlight);
  color: var(--text-light);
}

.year-item-prev {
  opacity: 0.4;
}
