.center {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.panel-header-item-text {
    color: var(--text);
}

.panel-header-item-text:hover {
    color: var(--primary);
}

.panel-header-year-picker {
    display: flex;
    align-items: center;
    justify-content: center;
}

.panel-header-year-picker p {
    color: var(--text);
}

.panel-header-year-picker span {
    margin-inline: 4px;
    color: var(--text);
}

.panel-header-year-picker p:hover {
    color: var(--primary);
}