.picker-input-wrapper {
  margin: 0;
  padding-inline: 4px;
  height: 34px;
  width: 400px;
  max-width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.23);
  overflow: hidden;
  border-radius: 4px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

.picker-input-wrapper:hover {
  border-color: var(--highlight);
}

.picker-input-fa {
  border: none;
  outline: none;
  width: 100%;
  height: 100%;
  font-size: 14px;
  padding-inline: 4px;
  font-family: IRANSansRegular;
  color: var(--text-dark);
  direction: rtl;
}
.picker-input-en {
  border: none;
  outline: none;
  width: 100%;
  height: 100%;
  font-size: 14px;
  padding-inline: 4px;
  font-family: RobotoRegular;
  color: var(--text-dark);
  direction: ltr;
}

.calendar-icon {
  width: 20px;
  height: 20px;
  padding-inline: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  filter: invert(0.4);
}

.clear-icon {
  width: 20px;
  height: 20px;
  padding-inline: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  filter: invert(0.7);
}

.clear-icon:hover {
  filter: invert(0.4);
}

.rtl {
  direction: rtl;
}
