:root {
    --highlight: #3bc0ed;
    --text-dark: #000000;
    --text-light: #cacaca;
    --background: #ffffff;
    --background-disabled: #ccc;
    --background-hovered: #f2f2f2;
    --light: #ddd;
    --text-negative:#d40b2c;
}