:root {
    --highlight: #59d3fc;
    --text-dark: #000000;
    --text-light: #ffffff;
    --background: #ffffff;
    --background-disabled: #ccc;
    --background-hovered: #f2f2f2;
    --light: #ffffff;
    --text-negative: #f83959;
}